<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name ="Chat_WCF.ChatService">
				<endpoint address="http://localhost:12345/ChatServer"
						  binding="wsHttpBinding"
						  contract="Chat_WCF.IChatService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>